<ngb-alert *ngIf="loadErrorMessage" type="danger" [dismissible]="false">
  {{"COMMON.LOAD_ERROR_MESSAGE" | translate}}
</ngb-alert>

<div class="animated fadeIn" *ngIf="!loadErrorMessage && companies">
  <ngb-alert type="primary" [dismissible]="false" *ngIf="companies.length === 0">
    <p class="font-weight-bold">{{"MY_SERVICES.NEED_ADD_COMPANY" | translate}}</p>
    <button class="btn btn-primary" routerLink="/new-my-company">
      <i class="fa fa-plus" aria-hidden="true"></i>
      {{"COMMON.ADD" | translate}}
    </button>
  </ngb-alert>

  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = false">
    {{"COMMON.SUCCESS_MESSAGE" | translate}}
  </ngb-alert>
  <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = false">
    {{"COMMON.ERROR_MESSAGE" | translate}}
  </ngb-alert>

  <ng-container *ngIf="companies.length > 0">
    <div class="row justify-content-end" *ngIf="companies.length > 1">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="currentCompanySelect" class="font-weight-bold">{{"MY_SERVICES.COMPANY" | translate}}:</label>
          <select #selectElem class="form-control" id="currentCompanySelect"
                  (change)="setChosenCompany(selectElem.value)">
            <option *ngFor="let company of companies" [label]="company.name" [value]="company.id"></option>
          </select>
        </div>
      </div>
    </div>
    <form>
      <ul id="categoryWithServicesList" class="list-unstyled">
        <li *ngFor="let category of categories">
          <fieldset>
            <legend>{{category.name}}</legend>
            <div class="custom-control custom-checkbox" *ngFor="let service of category.services">
              <input class="custom-control-input" type="checkbox" [id]="service.id"
                     (change)="onServiceCheck(service)" [checked]="serviceExistsInChosenCompany(service)">
              <label class="custom-control-label" [for]="service.id">{{service.name}}</label>
            </div>
          </fieldset>
        </li>
      </ul>
      <div class="text-right">
        <button type="button" class="btn btn-primary" (click)="onSubmit()">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
          {{"COMMON.SUBMIT" | translate}}
        </button>
      </div>
    </form>
  </ng-container>
</div>
