<div class="animated fadeIn">
  <button class="btn btn-success pull-right mb-2" routerLink="/new-user">
    <i class="fa fa-plus" aria-hidden="true"></i>
    {{"COMMON.NEW" | translate}}
  </button>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">{{"USER.ID" | translate}}</th>
        <th scope="col">{{"USER.EMAIL" | translate}}</th>
        <th scope="col">{{"USER.FIRST_NAME" | translate}}</th>
        <th scope="col">{{"USER.MIDDLE_NAME" | translate}}</th>
        <th scope="col">{{"USER.LAST_NAME" | translate}}</th>
        <th scope="col">{{"USER.GENDER" | translate}}</th>
        <th scope="col">{{"USER.DATE_BIRTH" | translate}}</th>
        <th scope="col">{{"USER.ROLE" | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-light cursor-pointer" routerLink="/users/{{user.id}}"
          *ngFor="let user of users | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalUsers}">
        <th scope="row">{{user.id}}</th>
        <td>{{user.email}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.middleName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{"USER.GENDERS." + user.gender | translate}}</td>
        <td>{{user.dateBirth | date:'dd.MM.yyyy'}}</td>
        <td>
          <p class="m-0" *ngFor="let role of user.roles; let isLast = last">
            {{"USER.ROLES." + role.name | translate}}{{isLast ? '' : ', '}}
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <pagination-template #p="paginationApi" (pageChange)="pageChanged($event)">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="p.isFirstPage()">
        <a (click)="p.setCurrent(1)">«</a>
      </li>
      <li class="page-item" [class.disabled]="p.isFirstPage()">
        <a class="page-link" (click)="p.previous()">‹</a>
      </li>
      <li class="page-item" *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
        <a class="page-link" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
          {{page.label}}
        </a>
        <a *ngIf="p.getCurrent() === page.value">{{page.label}}</a>
      </li>
      <li class="page-item" [class.disabled]="p.isLastPage()">
        <a class="page-link" (click)="p.next()">›</a>
      </li>
      <li class="page-item" [class.disabled]="p.isLastPage()">
        <a (click)="p.setCurrent(p.getLastPage())">»</a>
      </li>
    </ul>
  </pagination-template>
</div>
