<ngb-alert *ngIf="loadErrorMessage" type="danger" [dismissible]="false">
  {{"COMMON.LOAD_ERROR_MESSAGE" | translate}}
</ngb-alert>

<div class="animated fadeIn" *ngIf="!loadErrorMessage && company">
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = false">
    {{"COMMON.SUCCESS_MESSAGE" | translate}}
  </ngb-alert>
  <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = false">
    {{"COMMON.ERROR_MESSAGE" | translate}}
  </ngb-alert>

  <div class="row" *ngIf="company.id !== null">
    <div class="col-sm-9">
      <h2>{{company.name}}</h2>
    </div>
    <div class="col-sm-3 text-right">
      <button type="button" (click)="delete()" class="btn btn-danger mb-2">
        <i class="fa fa-trash"></i>
        {{"COMMON.DELETE" | translate}}
      </button>
    </div>
  </div>

  <form (ngSubmit)="onSubmit()" #companyForm="ngForm" autocomplete="off">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label font-weight-bold">{{"COMPANY.NAME" | translate}}:*</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="company.name">
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label font-weight-bold">
        {{"COMPANY.DESCRIPTION" | translate}}:
      </label>
      <div class="col-sm-10">
        <textarea class="form-control" id="description" name="description" rows="4"
                  [(ngModel)]="company.description"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="type" class="col-sm-2 col-form-label font-weight-bold">
        {{"COMPANY.TYPE" | translate}}:
      </label>
      <div class="col-sm-10">
        <select class="form-control" id="type" name="type" [(ngModel)]="company.companyType">
          <option *ngFor="let key of companyTypesKeys" [value]="companyTypes[key]"
                  [label]="'COMPANY.TYPES.' + companyTypes[key] | translate"></option>
        </select>
      </div>
    </div>
    <div class="form-group row" *ngIf="company.owner">
      <label for="owner" class="col-sm-2 col-form-label font-weight-bold">
        {{"COMPANY.OWNER" | translate}}:*
      </label>
      <div class="col-sm-10">
        <select #selectElem class="form-control" id="owner" name="owner" [(ngModel)]="ownerId"
                (change)="setNewOwner(selectElem.value)" required>
          <option *ngFor="let member of members" [value]="member.id" [label]="member.getFullName()"></option>
        </select>
      </div>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary" [disabled]="!companyForm.form.valid">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
        {{"COMMON.SUBMIT" | translate}}
      </button>
    </div>
  </form>
  <a routerLink="/users/{{company.owner.id}}" *ngIf="company.id !== null && company.owner" class="btn btn-info">
    <i class="fa fa-user" aria-hidden="true"></i>
    {{"COMPANY.COMPANY_OWNER" | translate}}
  </a>
</div>
