<ngb-alert *ngIf="loadErrorMessage" type="danger" [dismissible]="false">
  {{"COMMON.LOAD_ERROR_MESSAGE" | translate}}
</ngb-alert>

<div class="animated fadeIn" *ngIf="!loadErrorMessage && company">
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = false">
    {{"COMMON.SUCCESS_MESSAGE" | translate}}
  </ngb-alert>
  <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = false">
    {{"COMMON.ERROR_MESSAGE" | translate}}
  </ngb-alert>

  <div class="row" *ngIf="company.id !== null">
    <div class="col-sm-9">
      <h2>{{company.name}}</h2>
    </div>
    <div class="col-sm-3 text-right">
      <button type="button" (click)="delete()" class="btn btn-danger mb-2">
        <i class="fa fa-trash"></i>
        {{"COMMON.DELETE" | translate}}
      </button>
    </div>
  </div>

  <form (ngSubmit)="onSubmit()" #companyForm="ngForm" autocomplete="off" class="mb-3">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label font-weight-bold">{{"COMPANY.NAME" | translate}}:*</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="company.name">
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label font-weight-bold">
        {{"COMPANY.DESCRIPTION" | translate}}:
      </label>
      <div class="col-sm-10">
        <textarea class="form-control" id="description" name="description" rows="4"
                  [(ngModel)]="company.description"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="timetable" class="col-sm-2 col-form-label font-weight-bold">
        {{"COMPANY.TIMETABLE" | translate}}:
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="timetable" name="timetable" [(ngModel)]="company.timetable">
      </div>
    </div>
    <div class="form-group row">
      <label for="site" class="col-sm-2 col-form-label font-weight-bold">{{"COMPANY.SITE" | translate}}:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="site" name="site" [(ngModel)]="company.site">
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-sm-2 col-form-label font-weight-bold">{{"COMPANY.PHONE" | translate}}:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="company.phone">
      </div>
    </div>
    <div class="form-group row">
      <label for="address" class="col-sm-2 col-form-label font-weight-bold">{{"COMPANY.ADDRESS" | translate}}:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="address" name="address" [(ngModel)]="company.address">
      </div>
    </div>
    <div class="form-group row">
      <label for="type" class="col-sm-2 col-form-label font-weight-bold">
        {{"COMPANY.TYPE" | translate}}:
      </label>
      <div class="col-sm-10">
        <select class="form-control" id="type" name="type" [(ngModel)]="company.companyType">
          <option *ngFor="let key of companyTypesKeys" [value]="companyTypes[key]"
                  [label]="'COMPANY.TYPES.' + companyTypes[key] | translate"></option>
        </select>
      </div>
    </div>
    <div class="form-group row" *ngIf="company.owner">
      <label for="owner" class="col-sm-2 col-form-label font-weight-bold">
        {{"COMPANY.OWNER" | translate}}:*
      </label>
      <div class="col-sm-10">
        <select #selectElem class="form-control" id="owner" name="owner" [(ngModel)]="ownerId"
                (change)="setNewOwner(selectElem.value)" required>
          <option *ngFor="let member of members" [value]="member.id" [label]="member.getFullName()"></option>
        </select>
      </div>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary" [disabled]="!companyForm.form.valid">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
        {{"COMMON.SUBMIT" | translate}}
      </button>
    </div>
  </form>

  <div class="mb-3" *ngIf="company.id !== null">
    <h4>{{"COMPANY.UPDATE_IMAGE" | translate}}</h4>
    <img *ngIf="company.image !== null" src="{{imagePrefix + company.image}}" class="img-thumbnail mb-3">
    <p *ngIf="company.image === null">{{"COMPANY.IMAGE_NOT_SET" | translate}}</p>
    <div class="form-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="image" name="image"
               (change)="handleImageInput($event.target.files)">
        <label class="custom-file-label text-truncate" for="image">
          {{image === null ? ("COMMON.CHOOSE" | translate) : image.name}}
        </label>
      </div>
    </div>
    <button *ngIf="image !== null" type="button" class="btn btn-primary btn-sm mb-3" (click)="updateImage()">
      <i class="fa fa-paper-plane"></i> {{"COMMON.SUBMIT" | translate}}
    </button>
    <ngb-alert *ngIf="errorSubmitImageMessage" type="danger" [dismissible]="false">
      {{"COMMON.ERROR_MESSAGE" | translate}}
    </ngb-alert>
  </div>

  <div class="mb-3" *ngIf="company.id !== null">
    <h4>{{"COMPANY.CHANGE_RATING" | translate}}</h4>
    <div class="mb-3" *ngIf="company.rating === null">
      <span class="mr-3">{{"COMMON.MISSING" | translate}}</span>
      <button type="button" class="btn btn-primary btn-sm" (click)="company.rating = 4">
        {{"COMMON.SET" | translate}}
      </button>
    </div>
    <div class="mb-3 d-flex align-items-center" *ngIf="company.rating !== null">
      <ngb-rating class="mr-3" [(rate)]="company.rating" [max]="5"></ngb-rating>
      <span class="mr-3">{{"COMMON.VALUE" | translate}}: {{company.rating | number:'1.1-1'}}</span>
      <button type="button" class="btn btn-primary btn-sm" *ngIf="originalRating !== company.rating"
              (click)="submitRating()">
        <i class="fa fa-paper-plane"></i> {{"COMMON.SUBMIT" | translate}}
      </button>
    </div>
    <ngb-alert *ngIf="errorSubmitRatingMessage" type="danger" [dismissible]="false">
      {{"COMMON.ERROR_MESSAGE" | translate}}
    </ngb-alert>
  </div>

  <div *ngIf="company.id !== null && company.owner">
    <h4>{{"COMPANY.COMPANY_OWNER" | translate}}</h4>
    <a routerLink="/users/{{company.owner.id}}" class="btn btn-info">
      {{"COMMON.GO" | translate}}
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a>
  </div>

</div>
