<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
                <h1>{{"LOGIN.LOGIN" | translate}}</h1>
                <p class="text-muted">{{"LOGIN.DESCRIPTION" | translate}}</p>
                <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = false">
                  {{"LOGIN.ERROR" | translate}}
                </ngb-alert>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="email" class="form-control" placeholder="{{'COMMON.EMAIL' | translate}}"
                         formControlName="email" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="{{'COMMON.PASSWORD' | translate}}"
                         formControlName="password"
                         required>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4" [disabled]="!form.valid">
                      {{"LOGIN.LOGIN" | translate}}
                    </button>
                  </div>
                  <div class="col-6 text-right">
                    <div class="btn-group btn-group-toggle"
                         (change)="onLanguageSelect($event.target.value)">
                      <label class="btn btn-light" *ngFor="let lang of translate.getLangs()"
                             [ngClass]="{'active':lang === translate.currentLang}">
                        <input type="radio" autocomplete="off" [checked]="lang === translate.currentLang"
                               [value]="lang">
                        <span class="flag-icon {{languagesClasses[lang]}}"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
