<aside class="aside-menu">

  <!-- Tab panes -->
  <div class="tab-content">

    <div class="tab-pane p-3 active" id="settings" role="tabpanel">
      <h6>{{'COMMON.SETTINGS' | translate}}</h6>

      <div class="aside-options">
        <div class="clearfix mt-4">
          <label for="language">
            <i class="fa fa-language" aria-hidden="true"></i>
            <small><b>{{'SETTINGS.LANGUAGE' | translate}}</b></small>
          </label>
        </div>
        <div>
          <select id="language" class="form-control" #langSelect (change)="onLanguageSelect($event.target.value)">
            <option *ngFor="let lang of translate.getLangs()"
                    [value]="lang"
                    [selected]="lang === translate.currentLang">
              {{languagesNames[lang]}}
            </option>
          </select>
        </div>
      </div>

    </div>
  </div>
</aside>
