<ngb-alert *ngIf="loadErrorMessage" type="danger" [dismissible]="false">
  {{"COMMON.LOAD_ERROR_MESSAGE" | translate}}
</ngb-alert>

<div class="animated fadeIn" *ngIf="!loadErrorMessage">
  <div class="row">
    <div class="col-sm-6 col-md-8">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">{{"CATEGORY.NAME" | translate}}</th>
          </tr>
          </thead>
          <ng-container *ngFor="let category of categories">
            <tbody>
            <tr class="table-light cursor-pointer" (click)="category.isCollapsed = !category.isCollapsed"
                [attr.aria-expanded]="!category.isCollapsed">
              <th scope="row">
                <i class="fa" aria-hidden="true"
                   [ngClass]="{'fa-caret-right': category.isCollapsed, 'fa-caret-down': !category.isCollapsed}"></i>
                {{category.name}}
              </th>
            </tr>
            </tbody>
            <tbody [ngbCollapse]="category.isCollapsed">
            <tr *ngFor="let service of category.services" class="table-active">
              <td class="pt-1 pb-1">{{service.name}}</td>
            </tr>
            </tbody>
          </ng-container>
        </table>
      </div>
    </div>
    <div class="col-sm-6 col-md-4"></div>
  </div>
</div>
