<ngb-alert *ngIf="loadErrorMessage" type="danger" [dismissible]="false">
  {{"COMMON.LOAD_ERROR_MESSAGE" | translate}}
</ngb-alert>

<div class="animated fadeIn" *ngIf="!loadErrorMessage">
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = false">
    {{"COMMON.SUCCESS_MESSAGE" | translate}}
  </ngb-alert>
  <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = false">
    {{"COMMON.ERROR_MESSAGE" | translate}}
  </ngb-alert>

  <div class="row">

    <div class="col-sm-6 col-md-8">

      <div class="nav-link text-light bg-dark font-weight-bold">
        {{"COMMON.SERVICE_CATEGORIES" | translate}}
        <button class="btn btn-outline-light btn-sm pt-0 pb-0 float-right" (click)="onAddCategoryButtonClick()"
                [disabled]="addingMode" [class.cursor-not-allowed]="addingMode">
          <i class="fa fa-plus"></i>
          {{"COMMON.ADD" | translate}}
        </button>
      </div>
      <div id="category-list-wrapper">
        <ul class="nav nav-pills flex-column bg-white">
          <li class="nav-item category-item" *ngFor="let category of categories">
            <a class="nav-link" [class.font-weight-bold]="isActiveCategory(category)" (click)="setActive(category)">
              <button class="btn btn-outline-primary btn-sm collapse-category-button"
                      (click)="onCollapseCategoryButtonClick(category, $event)"
                      [attr.aria-expanded]="!category.isCollapsed"
                      *ngIf="category.id !== null">
                <i class="fa" aria-hidden="true"
                   [ngClass]="{'fa-caret-right': category.isCollapsed, 'fa-caret-down': !category.isCollapsed}"></i>
              </button>
              {{category.name}}
              <button class="btn btn-sm btn-outline-danger pt-0 pb-0 ml-2 float-right delete-category-button"
                      (click)="onDeleteCategoryButtonClick(category, $event)" *ngIf="category.id !== null">
                <i class="fa fa-trash"></i>
              </button>
              <button class="btn btn-outline-dark btn-sm pt-0 pb-0 float-right add-service-button"
                      [disabled]="addingMode" [class.cursor-not-allowed]="addingMode"
                      (click)="onAddServiceButtonClick(category, $event)" *ngIf="category.id !== null">
                <i class="fa fa-plus"></i>
                {{"SERVICE.ADD" | translate}}
              </button>
            </a>
            <ul class="nav-pills flex-column list-unstyled pl-5" [ngbCollapse]="category.isCollapsed">
              <li class="nav-item" *ngIf="category.services && category.services.length === 0">
                <span class="nav-link font-italic text-secondary">{{"COMMON.NO_ITEMS" | translate}}</span>
              </li>
              <li class="nav-item service-item" *ngFor="let service of category.services">
                <a class="nav-link" (click)="setActive(service)"
                   [class.font-weight-bold]="isActiveService(service)">
                  {{service.name}}
                  <button class="btn btn-sm btn-outline-danger pt-0 pb-0 float-right delete-service-button"
                          (click)="onDeleteServiceButtonClick(category, service, $event)" *ngIf="service.id !== null">
                    <i class="fa fa-trash"></i>
                  </button>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>

    <div class="col-sm-6 col-md-4">

      <form *ngIf="activeCategory" (ngSubmit)="onCategoryFormSubmit()" #categoryForm="ngForm" autocomplete="off">
        <div class="form-group">
          <label for="categoryName" class="font-weight-bold">{{"CATEGORY.NAME" | translate}}:*</label>
          <input type="text" class="form-control" id="categoryName" name="categoryName" required
                 [(ngModel)]="activeCategory.name">
        </div>
        <div class="form-group">
          <label for="categoryDescription" class="font-weight-bold">{{"CATEGORY.DESCRIPTION" | translate}}:</label>
          <textarea class="form-control" id="categoryDescription" rows="4" name="categoryDescription"
                    [(ngModel)]="activeCategory.description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary float-right" [disabled]="!categoryForm.form.valid">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
          {{"COMMON.SUBMIT" | translate}}
        </button>
      </form>

      <form *ngIf="activeService" (ngSubmit)="onServiceFormSubmit()" #serviceForm="ngForm" autocomplete="off">
        <div class="form-group">
          <label for="serviceName" class="font-weight-bold">{{"SERVICE.NAME" | translate}}:*</label>
          <input type="text" class="form-control" id="serviceName" name="serviceName" required
                 [(ngModel)]="activeService.name">
        </div>
        <div class="form-group">
          <label for="serviceDescription" class="font-weight-bold">{{"SERVICE.DESCRIPTION" | translate}}:</label>
          <textarea class="form-control" id="serviceDescription" rows="4" name="serviceDescription"
                    [(ngModel)]="activeService.description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary float-right" [disabled]="!serviceForm.form.valid">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
          {{"COMMON.SUBMIT" | translate}}
        </button>
      </form>

    </div>

  </div>
</div>
