.collapse-category-button {
  display: inline-block;
  width: 26px;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 4px;
}

#category-list-wrapper {
  max-height: 75vh !important;
  overflow-y: auto;
}

.category-item {
  .add-service-button {
    display: none;
  }
  &:hover .add-service-button {
    display: block;
  }
}
