<ngb-alert *ngIf="loadErrorMessage" type="danger" [dismissible]="false">
  {{"COMMON.LOAD_ERROR_MESSAGE" | translate}}
</ngb-alert>

<div class="animated fadeIn" *ngIf="!loadErrorMessage">
  <button class="btn btn-success pull-right mb-2" routerLink="/new-my-company">
    <i class="fa fa-plus" aria-hidden="true"></i>
    {{"COMMON.ADD" | translate}}
  </button>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">{{"COMPANY.ID" | translate}}</th>
        <th scope="col">{{"COMPANY.NAME" | translate}}</th>
        <th scope="col">{{"COMPANY.SITE" | translate}}</th>
        <th scope="col">{{"COMPANY.PHONE" | translate}}</th>
        <th scope="col">{{"COMPANY.RATING" | translate}}</th>
        <th scope="col">{{"COMPANY.TYPE" | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-light cursor-pointer" routerLink="/my-companies/{{company.id}}"
          *ngFor="let company of companies">
        <th scope="row">{{company.id}}</th>
        <td>{{company.name}}</td>
        <td>{{company.site}}</td>
        <td>{{company.phone}}</td>
        <td>
          <span *ngIf="company.rating === null">{{"COMMON.MISSING" | translate}}</span>
          <span *ngIf="company.rating !== null">{{company.rating | number:'1.1-1'}}</span>
        </td>
        <td>{{"COMPANY.TYPES." + company.companyType | translate}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
