.breadcrumb {
  @include border-radius(0);
}

a {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

ngb-rating {
  font-size: 2rem;
}

.custom-file-input {
  @extend .cursor-pointer;
  & ~ .custom-file-label::after {
    content: '\1F5CE';
  }
}
